PORT=3000
CLICKHOUSE_HOST=localhost
CLICKHOUSE_PORT_HTTP=8123
CLICKHOUSE_PORT_TCP=9000
CLICKHOUSE_DB=tracker_analytics
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=

ANALYTICS_DB=postgres

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=tracker_db
POSTGRES_USER=tracker
POSTGRES_PASSWORD=your_secret_here

# Better Auth General
BETTER_AUTH_SECRET=your_super_secret_key_here
BETTER_AUTH_URL=http://localhost:3997

# Google OAuth Credentials
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret

# GitHub OAuth Credentials
GITHUB_CLIENT_ID=your_github_client_id
GITHUB_CLIENT_SECRET=your_github_client_secret

# Redis/Valkey Cache Configuration
REDIS_URL=redis://localhost:6379

# RabbitMQ Event Queue Configuration
RABBITMQ_URL=amqp://localhost:5672
