PORT=3000
CLICKHOUSE_PORT_HTTP=8123
CLICKHOUSE_PORT_TCP=9000
CLICKHOUSE_DB=tracker_analytics
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=tracker_db
POSTGRES_USER=tracker
POSTGRES_PASSWORD=your_secret_here
